

<div class = "container article-color">
        <%= render 'shared/errorpartial'%>
        <%= form_with(model: @article, local: true) do |f| %>
            <div class="form-group row mt-2">
                <%=f.label :tittle, class:"col-2 col-form-label text-light" %>
                <div class = "col-10">
                    <%= f.text_field :tittle,class: "form-control shadow-lg p-1 mb-3 bg-white rounded",placeholder: "Title" %>
                </div>
            </div>
            <div class = "form-group row mt-4">
                <%= f.label :description,class: "col-2 col-form-label text-light" %>
                <div class = "col-10">
                    <%= f.text_area :description,rows: 10,class: "form-control shadow-lg p-1 mb-3 bg-white rounded", placeholder: "desription"%>
                </div>
            </div>
            <div class = "text-center mt-4 update">
                <%= f.submit class: "btn btn-success"%>
            </div>
        <%end%>
    
</div>

<div class = "text-center mt-4">
<%=link_to 'Articles Page', articles_path, class: "btn btn-primary"%>
</div>
