<div id = "page-content">
    <h1 class = "text-center mt-4 head-style">Articles</h1>
    <div class = "container color">
        <% @article.each do |i|%>
            <div class = "row justify-content-md-center">
                <div class = "col-8 mt-4">
                    <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class= "card-header font-italic">
                        by sandeep reddy
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= link_to i.tittle,article_path(i.id), class: "text-success text-decoration-none"%></h5>
                        <p class="card-text"><%= i.description%></p>
                        <%= link_to 'View', article_path(i.id), class: 'btn btn-success'%>
                        <%= link_to 'Edit', edit_article_path(i.id),class: 'btn btn-primary'%>
                        <%= link_to 'Delete', article_path(i.id),class: 'btn btn-danger',method: :delete%>
                        
                    </div>
                    <div class="card-footer text-muted">
                    <small>Created: <%= time_ago_in_words(i.created_at)%> ago,
                    Edited: <%= time_ago_in_words(i.updated_at)%> ago</small>
                    </div>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>
<div class= "text-center">
<%= link_to 'Create Article',new_article_path,class: "btn btn-primary"%>
</div>

